<div class="grid bg-[#1c1b23] gap-6 p-6 shadow-lg mt-3 mx-2 rounded-sm">
    <div class="text-xl font-medium mt-2 text-zinc-200">
        Projects
    </div>
    <div class="grid grid-cols-1 gap-4 rounded-lg">
        <div class="flex items-center gap-1 text-primary rounded-lg">
            <div class="flex flex-1 flex-col px-4 py-2">
                <div class="flex text-2xl font-medium text-white">
                    ItemBanking
                </div>
                <div class="flex text-info text-lg text-white mt-4">
                    The project main aim is to generate questions for
                    exams as the name says Item means questions Bank
                    means Bank .My role in this project is an frontend
                    developer to make the ui as per figma and integrating the
                    rest API's .The project setup is an microfrontend with state
                    management and it is of Angular version 16 the project is well
                    structured and optimized .I have worked in all the modules of
                    this project and iam glad that i have been a part of this
                    project and i have learnt so many new things .
                </div>
            </div>
        </div>
    </div>

    <div class="grid grid-cols-1 gap-4 rounded-lg">
        <div class="flex items-center gap-1 text-primary rounded-lg">
            <div class="flex flex-1 flex-col px-4 py-2">
                <div class="flex text-lg font-medium text-white">
                    ItemBanking
                </div>
                <div class="flex text-info text-xs text-white">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi maxime sit cumque minima recusandae
                    dolorem id debitis. Nemo facere similique sunt cumque consequatur minima itaque, reiciendis illum
                    dolorum delectus dicta.
                </div>

            </div>
        </div>
    </div>
</div>

<div class="grid bg-[#1c1b23] gap-6 p-6 shadow-lg mt-3 mx-2 rounded-sm">
    <div class="text-xl font-medium mt-2 text-zinc-200">
        About Myself
    </div>
    <p class="text-white">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia corporis fuga eos non voluptate, excepturi illum
        nostrum reprehenderit porro velit aut obcaecati rerum! Cupiditate quaerat accusamus ipsa, sunt quo laborum?
    </p>
</div>

<div class="p-6 mb-3 flex justify-center ">
    <button class="text-white bg-gray-400 p-2 rounded">Resume</button>
    <a href="#" class="mt-2 ml-2 text-blue-400 hover:underline">donwload</a>
    <!-- <mat-icon class="mt-2 text-blue-400 cursor-pointer">download</mat-icon> -->
    <span class="text-red-100 material-icons">download</span>
</div>